body {
    background-color: rgb(7, 23, 72);
    color: #04030b;
}

label {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.principal {
    width: 500px;
    margin-left: 33%;
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 5px;
    background-color: white;
    padding-left: 2%;
}

.principal h1 {
    color: rgb(7, 13, 29);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.principal p {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

input {
    box-sizing: border-box;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 5px;
    padding-left: 10%;
}

.principal button {
    display: block;
    border: none;
    outline: none;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: rgb(31, 72, 195);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
